<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div id="app"></div>-->
<!--<script type="module" src="../main.js"></script>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Amplify-view-data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../style.css" rel="stylesheet" />
</head>

<body>
<header data-role="header">
    <h1>header</h1>
    <a href="../index.html" class="ui-btn-right">右</a>
</header>
<h1>Hello</h1>

<!-- ここに追加のコンテンツを記述する -->

</body>
</html>